{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "none",
  "quoteProps": "as-needed",
  "embeddedLanguageFormatting": "auto",
  "semi": true,
  "bracketSameLine": true,
  "vueIndentScriptAndStyle": true,
  "bracketSpacing": false,
  "jsxSingleQuote": false,
  "insertPragma": false,
  "requirePragma": false,
  "singleAttributePerLine": false,
  "singleQuote": false,
  "useTabs": false
}
